<% if false %>
  <p id="notice"><%= notice %></p>
  <%= link_to 'New Demo', new_demo_path %>
  <%= link_to 'Settings', demo_settings_path %>
  <br>
  <br>

  <div class="container-fluid">
    <div class="row">
      <div class="col-2">
        <% @next_four_days.each do |datetime, appointment| %>
          <% if appointment.present? %>
            <span><%= date_translation datetime %>:</span>
            <br>
            <% appointment.each do |apt| %>
              <div>
                <%= link_to  demo_path(apt),{remote: true,'data-bs-toggle' => "modal", 'data-bs-target' => "#demo-modal", class: 'btn'} do  %>
                  Demo With <%= "#{apt.lead.first_name} #{apt.start_time.strftime('%l:%M %P')}"%>
                <%end%>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <div class="col-10">
        <%= month_calendar(events: @appointments, attribute: :start_time) do |date, appointments| %>
          <%= date.day %>
          <% appointments.each do |apt| %>
            <div>
              <%= link_to  demo_path(apt),{remote: true,'data-bs-toggle' => "modal", 'data-bs-target' => "#demo-modal", class: 'btn'} do  %>
                <%= apt.duration%>
              <%end%>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="modal fade" id="demo-modal" tabindex="-1" role="dialog" aria-labelledby="demo-modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div id="demo-show"></div>
    </div>
  </div>
<% end %>

<section class="main_section calendar-main-sec">
		<div class="container">
			<div class="row justify-content-center">
        <%= month_calendar(events: @appointments, attribute: :start_time) do |date, appointments| %>
          <%= date %>
        <% end %>
			</div>
		</div>
	</section>

	<!-- Modal -->
<div class="modal fade calendar-modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog h-100 d-flex justify-content-center align-items-center" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <%= image_tag("cross.png", alt: "#") %>
        </button>
      </div>
      <div class="modal-body">
	    <h1>Demo on Tuesday June 16, 2021</h1>
	    <h5>with Jack</h5>
        <a href="#"><button type="button">Send Demo Link Again</button></a>
      </div>
    </div>
  </div>
</div>
