<h1 class="mt-0" style="font-weight: bold;">Stop Waiting To Lose</h1>
<h2 class="mt-0" style="font-weight: bold;">When You Can Win</h2>
<div class="video">
   <iframe src="https://player.vimeo.com/video/573416719" width="640" height="564" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
</div>

 <%= link_to  book_new_path,{remote: true,'data-bs-toggle' => "modal", 'data-bs-target' => "#book_demo", class: 'btn'} do  %>
   Start Winning Today
 <%end%>

<h2 class="mt-0" style="font-weight: bold; line-height: 30px;">If They Can Make It<br>
   You Can Too 
</h2>
<hr>
<div class="container-card">
   <div class="card">
      <div class="img">
         <%= image_tag("contacted/da-baby.jpg") %>
      </div>
      <div class="text">
         <p><strong>DaBaby</strong></p>
         <p>Raised Ain the inner-city projects in North Carolina.</p>
         <br>
         <p>Constantly fought with his two older brothers. Sold drugs to keep the lights on and food on the table.</p>
         <br>
         <p>Went to college for 2 years. Dropped out when he found out his girlfriend was pregnant.</p>
         <br>
         <p>Now he's a famous millionaire rapper and record label owner.</p>
      </div>
   </div>
   <div class="card">
      <div class="img">
         <%= image_tag("contacted/lia-shelesh.jpg") %>
      </div>
      <div class="text">
         <p><strong>Lia Shelesh</strong></p>
         <p>Grew up in the slums of the UK. Her parents were so strict they wouldn’t let her drive. If she wanted to go anywhere, she had to use the bus.</p>
         <br>
         <p>She worked in retail folding clothes. One day she went to jail for shoplifting and disorderly conduct.</p>
         <br>
         <p>Tried to go to college for nursing but dropped out.</p>
         <br>
         <p>Now she's a millionaire YouTube personality star.</p>
      </div>
   </div>
   <div class="card">
      <div class="img">
         <%= image_tag("contacted/casey-neistat.jpg") %>
      </div>
      <div class="text">
         <p><strong>Casey Neistat</strong></p>
         <p>Grew up living in a trailer park in the middle of nowhere, Connecticut.</p>
         <br>
         <p>Dropped out of high school his sophomore year. Started washing dishes to make cash.</p>
         <br>
         <p>He got his first girlfriend pregnant when he was 17. Soon after his girlfriend left him for someone else.</p>
         <br>
         <p>Now he’s a world-known videographer who makes millions.</p>
      </div>
   </div>
</div>
<%= link_to  book_new_path,{remote: true,'data-bs-toggle' => "modal", 'data-bs-target' => "#book_demo", class: 'btn'} do  %>
  <small style="font-weight: 200;">You Can Do Better</small><br>
  <span style="font-family: 'Geometria Heavy';">Start Now</span>
<%end%>
</section>
<section class="sct3">
   <h2>It's The Entrepreneurs For Me...</h2>
   <br>
   <h3 style="font-weight: bold;">What People on IG are Saying</h3>
   <div class="container-card">
      <div class="card">
         <div class="img">
            <%= image_tag("contacted/img-1.jpg") %>
         </div>
         <hr>
         <h4>The Latest SoundCloud Rapper</h4>
         <hr>
         <br>
         <p>Ahh...Not You Too!<br>
            You that bored, huh?<br>
            Can you even freestyle?<br>
            You must have a homie with a studio?<br>
            I heard studio time isn’t free though.<br>
            Have you started making beats or anything?<br> 
            Are you going to make mixtapes too?<br>
            So...who’s going to cover all this shit until you get signed with a label?<br>
            That’s dead.
         </p>
      </div>
      <div class="card">
         <div class="img">
            <%= image_tag("contacted/img-2.jpg") %>
         </div>
         <hr>
         <h4>It's The Videos For Me.</h4>
         <hr>
         <br>
         <p>Is creating videos so hard you need to take a course on it?<br>
            Probably... <br>
            How much are DSLR cameras...Are those the best?<br>
            Do you know how to edit?<br>
            What about doing transitions?<br>
            Light edits are cool af. Definitely need  to learn how to do that.<br>
            So...now once you learn how to be a Pro.<br>
            Now where are you going to work?<br>
            Fiverr…?<br>
            Fuck that... Back to the drawing board.
         </p>
      </div>
      <div class="card">
         <div class="img">
            <%= image_tag("contacted/img-3.jpg") %>
         </div>
         <hr>
         <h4>Eat, Sleep, Breathe Day Trading.</h4>
         <hr>
         <br>
         <p>All my day trading friends don’t have a life.<br>
            They’re constantly watching the news.<br>
            Saying shit like<br>
            "Plan the trade and trade the plan" and “Don’t let your emotions affect your trade”<br>
            Ehhh fuck that I just lost my lil $150...Im out...<br>
            You think that's cool???<br>
            Like bruh, that's some old man shit.
         </p>
      </div>
      <div class="card">
         <div class="img">
            <%= image_tag("contacted/img-4.jpg") %>
         </div>
         <hr>
         <h4>Having A Successful App Sounds Legit Af.</h4>
         <hr>
         <br>
         <p>How do you invent an app tho?<br>
            How does it go from an idea to being in the app store?<br>
            How much does it cost to hire a coder?<br>
            Are designers expensive?<br>
            Wait...so...you have to put money into it through production?<br>
            And then wait for people to buy it?<br>
            What if it's trash?<br>
            Then you take an L?<br>
            Hard Pass...<br>
            Let's make some money today!!
         </p>
      </div>
      <div class="card">
         <div class="img">
            <%= image_tag("contacted/img-5.jpg") %>
         </div>
         <hr>
         <h4>Shidd...I Was Thinking I Can Flip A House.</h4>
         <hr>
         <br>
         <p>They do it on HGTV all the time.<br>
            How hard can it be?<br>
            Might as well try it. I see lil raggedy houses for sale in the hood all the time.<br>
            I can’t even lie, I don’t know shit about construction.<br>
            Or if it would be smart to buy a house in the hood.<br>
            Seems kinda iffy.<br>
            Fuck that...
         </p>
      </div>
      <div class="card">
         <div class="img">
            <%= image_tag("contacted/img-6.jpg") %>
         </div>
         <hr>
         <h4>If I Can’t Sell Anything I Can Sell Some Trees</h4>
         <hr>
         <br>
         <p>Dispensary start-up cost $250,000<br>
            Oh GOT DAMN! <br>
            Nvm…
         </p>
      </div>
   </div>
   <%= link_to  book_new_path,{remote: true,'data-bs-toggle' => "modal", 'data-bs-target' => "#book_demo", class: 'btn'} do  %>
     <small style="font-weight: 200;">A Better Way To Make Bank</small><br>
     <span style="font-family: 'Geometria Heavy';">Find Out Now</span>
   <%end%>
   <div class="video">
      <iframe src="https://player.vimeo.com/video/573703152" width="640" height="564" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
   </div>
</section>
<section class="sct4">
<h2 style="font-weight: bold;">Invest In Both Your Future And Present Self</h2>
<h3 style="font-weight: bold;">It doesn’t matter what road you are on right now bc you can always change directions.</h3>
<p>The Perfect Opportunity:</p>
<ul class="contact-li">
   <li>10 min business solution.</li>
   <li>Run your business on autopilot.</li>
   <li>Do everything from your phone.</li>
   <li>Work alone or with others.</li>
   <li>No outrageous start-up fees.</li>
   <li>Work 30 mins a day.</li>
   <li>Earn exclusive products</li>
</ul>
<p>Are you…</p>
<p>Still in college,</p>
<p>just dropped out,</p>
<p>or maybe you graduated a couple of years ago.</p>
<br>
<p><span style="font-family: 'Geometria Heavy'; font-size: 17px;">NO MATTER</span> where you are in life.</p>
<%= link_to  book_new_path,{remote: true,'data-bs-toggle' => "modal", 'data-bs-target' => "#book_demo", class: 'btn'} do  %>
  <small style="font-weight: 200;">This Is For You</small><br>
  <span style="font-family: 'Geometria Heavy';">Find Out How</span>
<%end%>

<%= render 'users/booking_demo'%>