<h1 style="font-weight: bold;">You Have The Power Of Choice</h1>
<div class="video">
   <iframe src="https://player.vimeo.com/video/574784053" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
</div>
<h2 class="mt-0" style="font-weight: bold;">It' Never Too Late</h2>
<a class="btn" href="<%= "#{request.protocol}#{request.host_with_port}/users/sign_up?at=#{@user.affiliate_token}&number=#{@lead.phone_number}" %>">
Choose The Best Life
</a>
<h2 class="mt-0" style="font-weight: bold;">Which Life Do You Want?</h2>

<hr>
<div class="container-card">
   <div class="card">
      <div class="img">
         <%= image_tag("followup/photo-1.png") %>
      </div>
      <div class="text">
         <p><strong>Call Center Dave</strong></p>
         <p>Works 9-5 Monday-Friday same boring as hell routine.</p>
         <br>
         <p>Tiny 4x4 cubicle that's surrounded by annoying ass coworkers.</p>
         <br>
         <p>Rude customers are so draining they suck the energy out of him. He eats cardboard pizza alone in his apartment.</p>
         <br>
         <p>Cries himself to sleep not knowing how he became Dwight from The Office.</p>
      </div>
   </div>
   <div class="card">
      <div class="img">
         <%= image_tag("followup/photo-2.png", style: 'transform: translateX(-10px)') %>
      </div>
      <div class="text">
         <p><strong>Warehouse Marcus</strong></p>
         <p>He works Sunday-Friday, 5pm-1am.</p>
         <br>
         <p>He separates parts and listens to music with 1 airpod in, trying not to get fired.</p>
         <br>
         <p>Goes to work and keeps his head down.</p>
         <br>
         <p>Living at his parents house he has no shot at getting a baddie.</p>
         <br>
         <p>He smokes a blunt and goes to sleep dreaming of a better life.</p>
      </div>
   </div>
   <div class="card">
      <div class="img">
         <%= image_tag("followup/photo-3.png", style: 'width: inherit; height: auto; transform: initial') %>
      </div>
      <div class="text">
         <p><strong>The Man -At Deus</strong></p>
         <p>Excited to get his day started he wakes up at noon. For 30 mins he works on his phone while still in bed.</p>
         <br>
         <p>The rest of his day is his! He typically takes a different baddie to brunch. Afterwards, he smashes at his penthouse.</p>
         <br>
         <p>By 4 he’s off to the gym to workout and play basketball with his boys. After the gym they hit a rooftop bar.</p>
         <br>
         <p>He brings the party back to his house with a couple of baddies.</p>
         <br>
         <p>He smashes, and falls asleep laying on tittes instead of pillows.</p>
      </div>
   </div>
</div>
<h3 style="font-size: 1.17rem; font-weight: bold;">Who Would You Rather Be?</h3>
<a class="btn" href="<%= "#{request.protocol}#{request.host_with_port}/users/sign_up?at=#{@user.affiliate_token}&number=#{@lead.phone_number}" %>">
<small style="font-weight: 200;">Choice Is Yours</small><br>
Choose Your Lifestyle
</a>
</section>
<section class="sct4" style="text-align: left;">
<h2 class="text-center">Are You Afraid To Commit??? </h2>
<h3 style="font-weight: bold; line-height: 30px;" class="text-center">Lemme Guess...<br>
   Not Enough Time?
</h3>
<br>
<hr class="m-0">
<p class="text-center mt-0 mb-0">You Can Literally Work Anytime & Anywhere.</p>
<hr class="m-0">
<br>
<ul class="text-left contact-li mb-0">
   <li>      
      On The Shitter
   </li>
   <li>
      While Watching Tv
   </li>
   <li>
      On The Bus
   </li>
   <li>
      On Your Lunch Break
   </li>
   <li>
      Before Bed
   </li>
</ul>
<p style="text-align: left;">Keep Your Current Job<br>
   And Be Apart Of The Lifestyle Too!
</p>
<a class="btn" href="<%= "#{request.protocol}#{request.host_with_port}/users/sign_up?at=#{@user.affiliate_token}&number=#{@lead.phone_number}" %>">
<small style="font-weight: 200;">Stop Waiting</small><br>
<span style="font-family: 'Geometria Heavy';">Join Today</span>
</a>