<h1 class="mt-0" style="font-family: 'Geometria Bold';">What Would You Do If…</h1>
<h2 class="mt-0" style="font-family: 'Geometria Bold';">You Lost Everything Right Now?</h2>
<div class="video">
   <iframe src="https://player.vimeo.com/video/573536461" width="640" height="564" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
</div>

 <%= link_to  book_new_path,{remote: true,'data-bs-toggle' => "modal", 'data-bs-target' => "#book_demo", class: 'btn'} do  %>
   <small style="font-weight: 200;">Get The Life You Want</small><br>
   Book A Demo
 <%end%>

<h2 class="mt-0" style="font-weight: bold;">IF THEY CAN DO IT, SO CAN YOU</h2>
<hr>
<div class="container-card">
   <div class="card">
      <div class="img">
         <%= image_tag("prospect/logan-paul.png") %>
      </div>
      <div class="text">
         <p><strong>Logan Paul</strong></p>
         <p>From a town so small that there are only a few street lights. Went to college, it didn't work so he dropped out after 1 year.</p>
         <br>
         <p>He tried to make it as an actor but that didn’t work. Then he started making 6 seconds vines.</p>
         <br>
         <p>Now he’s a millionaire and one of the biggest Youtube stars ever.</p>
      </div>
   </div>
   <div class="card">
      <div class="img">
         <%= image_tag("prospect/mark-william.png") %>
      </div>
      <div class="text">
         <p><strong>Mark William</strong></p>
         <p>Grew up with overly strict parents who sent him to a military boarding school in Virginia. </p>
         <br>
         <p>Went to Arizona State. Dropped out. </p>
         <br>
         <p>Now he’s a Youtuber and a millionaire.</p>
      </div>
   </div>
   <div class="card">
      <div class="img">
         <%= image_tag("prospect/laura-benson.png") %>
      </div>
      <div class="text">
         <p><strong>Laura Benson</strong></p>
         <p>Raised on a dairy farm in South Dakota. She didn’t go to college because she didn’t see a value in it. So, she started working immediately. One thing led to another and she ended up pregnant.</p>
         <br>
         <p>She was depressed and thought her life was over. With no experience and thousands of miles away from the tech hub of California. With very little money she learns how to build her first website.</p>
         <br>
         <p>Now she runs an e-commerce giant with 30 employees that makes millions.</p>
      </div>
   </div>
   <div class="card">
      <div class="img">
         <%= image_tag("prospect/sam-ovens.png") %>
      </div>
      <div class="text">
         <p><strong>Sam Ovens</strong></p>
         <p>Grew up dirt poor in New Zealand. Dropped out of college because it wasn’t working. Manager was on his ass, so he quit his job at the big company that everyone wanted him to work for.</p>
         <br>
         <p>Moved back in with his parents and lost his girlfriend. After 5 hard years of everybody doubting him. His friends buy his beer, telling him, “You’re going to amount to nothing.”</p>
         <br>
         <p>He hits it big with a digital agency and is worth a few hundred million dollars and looks out his window at the beach.</p>
      </div>
   </div>
</div>

<%= link_to  book_new_path,{remote: true,'data-bs-toggle' => "modal", 'data-bs-target' => "#book_demo", class: 'btn'} do  %>
<small style="font-weight: 200;">Tired Of People Doubting You</small><br>
Change That Now
<%end%>
</section>
<section class="sct3">
   <h2>Do you think </h2>
   <hr>
   <h2> “This Whole Entrepreneur Thing Is All Cap???”</h2>
   <br>
   <h3 style="font-weight: bold;">Here’s What People Are Saying On Social Media</h3>
   <div class="container-card">
      <div class="card">
         <div class="img">
            <%= image_tag("prospect/img-1.jpg") %>
         </div>
         <hr>
         <h4>So Many People Are Selling Online Now.</h4>
         <hr>
         <br>
         <p>Like my IG is filled with random products<br>
            Don't tell me you're thinking about doing this too… Is this even like a legit business?<br>
            What are you going to sell? How do you send it to your customers?<br>
            How are you going to get the money for products? Are you going to ask your mommy, daddy, or some random person?<br>
            Wait...Wait...How much does this cost?<br> 
            Sounds like a lot to do.
         </p>
      </div>
      <div class="card">
         <div class="img">
            <%= image_tag("prospect/img-2.jpg") %>
         </div>
         <hr>
         <h4>Does Learning Adobe Mean I'm A Designer Now?</h4>
         <hr>
         <br>
         <p>Have you seen any of those digital agency videos? They’re boring and dry af.<br>
            Learning how to create a facebook campaign will put you to sleep.<br>
            Are you lost at conversion tracking?<br>
            Do you have to hire people  too?<br>
            Pass...
         </p>
      </div>
      <div class="card">
         <div class="img">
            <%= image_tag("prospect/img-3.jpg") %>
         </div>
         <hr>
         <h4>Amazon is killing it.</h4>
         <hr>
         <br>
         <p>Their affiliate programs seem like the move to make.<br>
            You know they add over a million of products everyday?<br>
            Earning 10% doesn't sound bad.<br>
            But…<br>
            10% of $5.00 is $0.50.<br>
            You have to drive people to their website?<br>
            Like how you supposed to do that?<br>
            Ehhh that sounds like a no, right?
         </p>
      </div>
      <div class="card">
         <div class="img">
            <%= image_tag("prospect/img-4.PNG") %>
         </div>
         <hr>
         <h4>Everyone One Is Trying To Become A Real Estate Agent Rn.</h4>
         <hr>
         <br>
         <p>Why?? Is it free?? Nope!!!<br>
            You have to pay to get a license.<br>
            Damn! That means you have to study for a license.<br>
            I’m already out.<br>
            But…<br>
            I always see people so excited about becoming a real estate agent.<br>
            Like where’s your realtor signs...?<br>
            How long does it take for an agent to sell their 1st house? Months...<br>
            Nahhh...This ain’t it either.
         </p>
      </div>
      <div class="card">
         <div class="img">
            <%= image_tag("prospect/img-5.jpg") %>
         </div>
         <hr>
         <h4>I Can’t Even Lie, Trading Looks Easy.</h4>
         <hr>
         <br>
         <p>Hella people post about how much money they make. It seems like all the smart ppl are doing it.<br>
            How do you start tho?<br>
            Like how do you read those lines? What's a chart?<br>
            What do people mean when they say “buy signal”? If I put $5 in, will it make me $100 today? <br>
            My buddy just lost all his money trading! Now, he’s applying for a job at McDonalds.<br>
            Ehhh that sssh sounds hard af now.<br>
            I don’t want to flip burgers next to him!
         </p>
      </div>
   </div>
   <%= link_to  book_new_path,{remote: true,'data-bs-toggle' => "modal", 'data-bs-target' => "#book_demo", class: 'btn'} do  %>
   <small style="font-weight: 200;">Book 10 Mins With</small><br>
   A Real Entrepreneur
   <%end%>
   <h2 style="font-family: 'Geometria Bold';">
      <small class="mb-3"  style="font-weight: bold;">What If…</small><br>
      There Was A Way To Get What You Wanted
   </h2>
   <h3>Without Doing Any Of That Bull Shit?</h3>
   <div class="video">
      <iframe src="https://player.vimeo.com/video/573245266" width="640" height="564" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
   </div>
</section>
<section class="sct4">
<h2>Just 1 Click Can Change Your Life</h2>
<p>You DON’T have to:</p>
<ul>
   <li>Struggle to find random products to sell.</li>
   <li>Watch millions of youtube videos.</li>
   <li>Ask anyone for cash.</li>
   <li>Try to pass a real estate agent exam.</li>
   <li>Know how to drive customers to Amazon.</li>
   <li>Learn anything about the stock market.</li>
   <li>Waste more time.</li>
</ul>
<p>ALL you have to do:</p>
<ul class="ok">
   <li>Know there is an easier way</li>
   <li>Have the drive to work 30 mins a day.</li>
   <li>Believe that this will work for you.</li>
</ul>

 <%= link_to  book_new_path,{remote: true,'data-bs-toggle' => "modal", 'data-bs-target' => "#book_demo", class: 'btn'} do  %>
   <small style="font-weight: 200;">Your Dreams Can Come True</small><br>
   <span style="font-family: 'Geometria Heavy';">Find Out More Book Now</span>
 <%end%>

<%= render 'users/booking_demo'%>