<section class="la-set2">
  <div class="container-landing">
    <h1>The 13 Easiest Ways To Get Passive Income</h1>
    <h2>No One Is Talking About</h2>
    <div class="video">
      <iframe src="https://player.vimeo.com/video/573015746" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div id="spc">
      <%= form_with(model: @lead, local: false, url: web_add_lead_path) do |form| %>
        <%= form.label :name %>
        <%= form.text_field :first_name %><br><br>
        <%= form.label :phone_number %>
        <%= form.text_field :phone_number %>
        <button class="la-set2-btn" type="submit">
          Discover Passive Income Blueprint for $0
        </button>
      <%end%>
    </div>
  </div>
</section>
<section class="sct3">
  <h2>13 Easiest Ways To Gain Passive Income</h2>
  <h3>Make Money While You Sleep</h3>
  <div class="img">
    <%= image_tag("landing/banner-new.jpg") %>       
  </div>
  <div class="sct3-btn">
    <a href="#" class="btn">
    <span>Get It For FREE</span><br>
    <span>Limited Downloads Available</span>
    </a>
  </div>
</section>
<section class="sct4">
  <h2>Get Instant Access to the Passive Income Blueprint.</h2>
  <p>Introducing the easiest ways you can start making passive income.</p>
  <p>Wishing you could be on a beach getaway with your friends? Riding around in that brand new luxury car you always wanted would be sweet too.</p>
  <p>One of the biggest benefits of the Passive Income Blueprint is the access that only a few know about.</p>
  <p>Passive Income Blueprint is FREE. The best deal in the market.</p>
</section>
<section class="sct5">
  <h2>What Makes My Passive Income Blueprint So Valuable?</h2>
  <div class="grid">
    <div class="landing-card">
      <div class="icon">
        <%= image_tag("landing/icon-1.png") %>
      </div>
      <div class="card-text">
        <h3>Accessible Anywhere</h3>
        <p> No internet needed. Once downloaded, you can access it forever.</p>
      </div>
    </div>
    <div class="landing-card">
      <div class="icon">
        <%= image_tag("landing/icon-2.png") %>
      </div>
      <div class="card-text">
        <h3> Capture Trends</h3>
        <p>Passive income isn’t going away. In fact, more people are generating more and more money each year. With the Passive Income Blueprint, you’ll know how to quickly capture new trends- faster than anyone else.</p>
      </div>
    </div>
    <div class="landing-card">
      <div class="icon">
        <%= image_tag("landing/icon-3.png") %>
      </div>
      <div class="card-text">
        <h3>In-Depth Content</h3>
        <p> The ideas in Passive Income Blueprint will show you how to make money. Simply by knowing what is in the blueprint.</p>
      </div>
    </div>
    <div class="landing-card">
      <div class="icon">
        <%= image_tag("landing/icon-4.png") %>
      </div>
      <div class="card-text">
        <h3>Proven Principles</h3>
        <p>The experts are teaching exactly what they use to make money. You’ll only learn practical, real-world opportunities. This alone can save you from wasting years of your life figuring things out alone.</p>
      </div>
    </div>
  </div>
  <div class="sct5-btn">
    <a href="#" class="btn">
    <span>Get It For FREE</span><br>
    <span>Limited Downloads Available</span>
    </a>
  </div>
</section>
<section class="sct6">
  <h2>Why Passive Income Blueprint?</h2>
  <div class="row"></div>
  <h3>It’s the best way to learn the easiest ways to make passive income.</h3>
  <h3>You’ll get in-depth opportunities that only a few people are aware of.</h3>
  <h3>Once downloaded, you can review and remind yourself what you need to do.</h3>
</section>
<footer>
  <a href="">Website url</a>
  <div style="display: none;">
    <p>Contact us</p>
    <p>00000000000</p>
  </div>
</footer>