<!DOCTYPE html>
<html>
<head>
  <title>Deus Where Entrepreneurs Are Created</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= favicon_link_tag asset_path('DEUS-logo-blue.png') %>
  <%= stylesheet_link_tag 'prospect', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'prospect', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= render 'shared/prospect_layout_header'%>
    <section class="sct2">
      <%= yield %>
    </section>
</body>
</html>
